.hero {
    // positioning
    position: relative;

    // box model
    @media(min-width: $tablet) {
        height: 500px;
    }
    @media(min-width: $desktop) {
        height: 650px;
    }

    // visual
    background-color: #786f68;
    background-image: url("img/back-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media(min-width: $tablet) {
        background-image: url("img/back-tablet.jpg");
        box-shadow: 0 -2px 17px 0 #000000;
    }
    @media(min-width: $desktop) {
        background-image: url("img/back-desktop.jpg");
    }

    &__header {
        // positioning
        @media(min-width: $tablet) {
            position: absolute;
            top: 20px;
            left: -10px;
        }
        @media(min-width: $desktop) {
            top: 40px;
        }

        // box model
        margin: 0 -10px;
        padding: 20px;
        @media(min-width: $tablet) {
            margin: 0;
            padding: 10px 20px;
        }

        // typography
        color: #ffffff;
        font-family: $titleFont;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.6;
        text-transform: uppercase;
        @media(min-width: $tablet) {
            /*color: $mainColor;*/
            font-size: 30px;
        }
        @media(min-width: $desktop) {
            font-size: 36px;
        }

        // visual
        background-color: $labelColor;
        text-shadow: 0 3px 5px rgba(60, 60, 60, 0.5);
        @media(min-width: $tablet) {
            background-color: transparent;
        }
    }

    &__link {
        // box model
        margin-left: 5px;
        padding: 0 5px;
        padding-bottom: 3px;

        // typography
        color: #ffffff;

        // visual
        background-color: $highlightColor;
        border-radius: 4px;
        text-shadow: none;

        &--phone {
            // box model
            display: block;
            padding: 5px 15px;
            margin: 10px 0; 
        }

        &:hover {
            // visual
            opacity: 0.7;
        }
    }

    &__features {
        // positioning
        @media(min-width: $tablet) {
            position: absolute;
            top: 200px;
        }
        @media(min-width: $desktop) {
            top: 250px;
        }

        // box model
        margin: 0 -10px;
        padding: 20px;
        padding-bottom: 40px;
        @media(min-width: $tablet) {
            padding: 20px;
            padding-left: 40px;
            padding-right: 30px;
            margin-left: -40px; 
        }
        @media(min-width: $desktop) {
            padding: 40px;
        }

        // typography
        color: #ffffff;
        font-size: 1.25rem;
        font-weight: 300;

        // visual
        // background-color: $labelColor;
        background-color: $darkLabelColor;
        list-style: none;

        & li {
            // box model
            margin: 0;
            padding: 5px 0;

            &:before {
                content: "— ";
            }
        }
    }

    &__text {
        // positioning
        @media(min-width: $tablet) {
            position: absolute;
            top: 200px;
        }

        // box model
        margin: 0 -10px;
        padding: 20px;
        @media(min-width: $tablet) {
            width: 100%;
        }

        // typography
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        @media(min-width: $desktop) {
            font-size: 18px;
        }

        // visual
        background-color: $labelColor;
    }

    &__address {
        text-shadow: 0 3px 5px rgba(60, 60, 60, 0.5);
        // positioning
        @media(min-width: $tablet) {
            position: absolute;
            /*bottom: 110px;*/
            top: 40px;
            right: 10px;
        }

        // box model
        padding: 20px;
        margin: 0 -10px;
        @media(min-width: $tablet) {
            padding: 15px 20px;
        }

        // typography
        color: #ffffff;
        font-family: $titleFont;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 1.6;
        // text-transform: uppercase;
        text-align: center;

        // visual
        background-color: $labelColor;
        background-color: $darkLabelColor;
        
    }

    &__promo {
        // positioning
            position: absolute;
            top: 30px;
            right: 5px;
            left: auto;
            z-index: 9;

        @media(min-width: $tablet) {
            top: auto;
            bottom: 0;
            right: 0;
            left: auto;
        }
        
        @media(min-width: $desktop) {
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }

        // box model
        width: 172px;
        margin: 0 auto;
        text-align: center;
        @media(min-width: $tablet) {
            width: 344px;
        }
        
        img {
            width: 100%;
        }
    }
}
