.menu-button {
    // positioning
    position: absolute;
    top: 24px;
    right: 10px;

    // box model
    height: 24px;
    width: 24px;
    @media(min-width: $tablet) {
        display: none;
    }

    // visual
    cursor: pointer;
}
