.pop-projects {
    // box model
    padding: 40px 0;
    padding-bottom: 20px;
    @media(min-width: $tablet) {
        padding-top: 60px;
    }
    @media(min-width: $desktop) {
        padding-top: 80px;
    }

    // typography
    font-size: 0;

    &:after {
        content: "";

        // box model
        display: table;
        clear: both;
    }
}

.pop-project {
    // border: 1px solid red;
    // positioning
    position: relative;

    // box model
    min-height: 80vw;
    @media(min-width: $tablet) {
        min-height: 260px;
    }
    margin-bottom: 20px;

    @media(min-width: $tablet) {
        float: left;
        height: 260px;
        margin-right: 1.4%;
        width: 240px;
        width: 32%;
    }

    @media(min-width: $desktop) {
        height: 280px;
    }

    // visual
    background-color: #ffffff;
    overflow: hidden;

    &:hover {
        // positioning
        top: -2px;

        // visual
        box-shadow: 0 3px 12px 0 rgba(60, 60, 60, 0.5);

        & .pop-project__desc {
            background-color: $mainColor;
        }

        & .pop-project__name {
            color: #ffffff;
            &--inverse {
                color: $mainColor;
                background-color: #ffffff;
            }
        }
    }

    &--3rd {
        margin-right: 0;
    }

    &__image {
        // positioning
        position: absolute;
        left: -9999px;
        right: -9999px;

        // box model
        height: 100%;
        height: calc(100% - 54px);
        width: auto;
        margin: 0 auto;
    }

    &__price {
        // positioning
        position: absolute;
        top: -5px;
        right: 5px;
        transform: translateY(-100%);

        // box model
        background-color: $highlightColor;
        padding: 5px 10px;

        // typography
        color: #ffffff;
        font-family: $titleFont;
        font-size: 16px;

        &--cancelled {
            // typography
            color: $titleColor;
            text-decoration: line-through;
        }
    }

    &__desc {
        // positioning
        position: absolute;
        bottom: 0;

        // box model
        padding: 15px 20px;
        width: 100%;

        // visual
        background-color: #ffffff;
    }

    &__name {
        // typography
        color: $titleColor;
        font-family: $titleFont;
        font-size: 14px;

        &--inverse {
            // box model
            display: inline-block;
            padding: 5px;
            margin: 0 5px;

            // typography
            color: #ffffff;

            // visual
            background-color: $mainColor;
        }
    }
}
