.project-images {
    // box model
    padding: 20px 0;

    // typography
    @media(min-width: $tablet) {
        font-size: 0;
    }

    &__projection {
        // box model
        @media(min-width: $desktop) {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            width: calc(46.7% - 2px);
            margin-right: 2px;
        }
    }

    &__blueprints {
        // box model
        @media(min-width: $tablet) {
            & .project-image {
                width: 50%;
                width: calc(50% - 2px);
            }
        }

        @media(min-width: $desktop) {
            display: inline-block;
            vertical-align: top;
            width: 52.2%;
        }
    }
}

.project-image {
    // box model
    width: 100%;
    margin: 1px;

    // visual
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 0 1px #ffffff;

    &:hover {
        border: 1px solid $mainColor;
        box-shadow: 0 0 0 1px $mainColor;
    }
}
