.project-price {
    // typography
    color: $highlightColor;
    font-family: $titleFont;
    font-size: 24px;
    @media(min-width: $tablet) {
        font-size: 32px;
    }

    &--canceled {
        // typography
        color: $mainColor;
        text-decoration: line-through;
    }
    &__currency {
        // typography
        font-size: 24px;
        text-decoration: none;
    }
}