// colors
$labelColor: rgba(100, 164, 70, 0.9);
$mainColor: #64a446;
// $mainColor: #7FB069;
$titleColor: #3c3c3c;
$highlightColor: #F66834;
$darkLabelColor: rgba(26, 41, 48, 0.8);

// fonts
$copyFont: "Roboto", Arial, Helvetica, sans-serif;
$titleFont: "Intro", Arial, Helvetica, sans-serif;
$menuFont: "Fontin Sans CR SC", Arial, Helvetica, sans-serif;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1000px;
